


.App {
  text-align: center;
}

.login-form {
  margin: 0 auto; /* Center the LoginForm component */
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border to the LoginForm */
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc; /* Add a box shadow */
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}


